body{
	background-color: #FF7400;
}

img {
  margin: 5px;
}

.ris {
  background-color:#A64B00;
  max-width: 1400px;
  margin: 10px auto;
  padding: 20px 40px 10px 40px;
}

@media screen and (max-width: 480px) {
  img {
    margin: 3px;
  }
  .ris {
    padding: 10px 20px 5px 20px;
  }
}